/* Reset default styling */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
}

/* Default text center class*/
.text-center {
    text-align: center;
}

/* Navbar container */
.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #13366e;
    padding: 10px 20px;
}

/* Logo */
.topnav .logo {
    margin-right: auto;
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Links container */
.topnav .nav-links {
    display: flex;
    gap: 20px;
    width: 90%;
    justify-content: center;
}

/* Navbar links */
.topnav .nav-links a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
}

/* Active link */
.topnav .nav-links a.active {
    background-color: #fff;
    color: #13366e;
    border-radius: 5px;
}

/* Hover effect */
.topnav .nav-links a:hover {
    background-color: #575757;
    border-radius: 5px;
}

/* Hero Section */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: 620px;
    background-color: #13366e;
}

/* Hero image styles */
.hero-image {
    width: 60%; /* Set the width of the hero image in line with the parent container element. Keep note */
    min-height: 500px; /* Set the height of the hero image in line with parent container element Keep note - same as above */
    background-image: url('https://focus.independent.ie/thumbor/_Ia-xVFTA7Pxak-mwN3bY4a-K7o=/0x172:1500x1001/960x640/prod-mh-ireland/422361ea-c1d9-11ed-a34d-0210609a3fe2.jpg'); /* Placeholder */
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    border: dashed 10px #13366e;
}

.visit-section {
    min-height: 700px;
}

.why-1, .why-2 {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
}

.text-1, .image-1, .text-2, .image-2 {
    
    height: 350px;
    width: 450px;
}

.text-1, .text-2 {
    font-size: 20px;
    text-align: left;
}

.image-2 > img, .image-1 > img {
    max-width: 100%;
    min-height: 100%;
}

.paralax {
    height: 100px;
    width: 100%;
    background-color: #13366e;
    margin: 30px 0px;
}
/* Card Deck and Cards */
.card-deck {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 35px 0;
    height: 450px;
}

.card {
    border: solid 2px #13366e;
    border-radius: 10px;
    padding: 10px;
    width: 25%;
}

.card-header {
    height: 40%;
}

.card-header > img {
    height: 100%;
    width: 100%;
}

.card-desc > p {
    width: 100%;
}

.about-section {
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin-left: 10%;
    background-color: #13366e;
    margin-bottom: 50px;
    color: white;
}

.desc-about {
    height: 80%;
    width: 60%;
    text-align: center;
    align-content: center;
}

.image-about {
    height: 80%;
    width: 40%;
    text-align: center;
    align-content: center;
    padding: 10px;
}

.feat-p {
    text-align: left;
    margin-left: 15px;
}

.image-about > img {
    max-width: 100%;
    min-height: 100%;
}

/*footer*/
footer {
    height: 300px;
    width: 100%;
    background-color: #13366e;
    color: white;
}

.foot-row {
    width: 90%;
    height: 100%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.foot-col-left, .foot-col-center, .foot-col-right {
    height: 100%;
    width: 30%;
}

.foot-col-left {
    align-content: center;
    text-align: center;
}

.about-p {
    text-align: left;
    padding: 5px;
}

.foot-col-center {
    align-content: end;
    text-align: center;
}

.foot-col-center > img {
    width: 100%;
    height: 80%;
}

.h5-sitelinks {
    font-size: 20px;
    margin-bottom: 10px;
}

.links-row-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    justify-content: center;
}

.links-row-1 {
    margin-bottom: 10%;
}

.links-row-1 > a {
    color: white;
}

.socials {
    font-size: 32px;
    display: flex;
    justify-content: space-around;
    align-items: end;
    height: 25%;
}

.h5-socials {
    font-size: 24px;
    margin-top: 8%;
    margin-bottom: 0;
}

.socials > a {
    color: white;
    gap: 10%;
}

.fa-facebook:hover {
    color: #4267B2;
}

.fa-x-twitter:hover {
    color:#000000 ;
}

.fa-youtube:hover {
    color: #ff0000 ;
}

.fa-google:hover {
    color: #0266C8 ;
}

/* To do Page */

/* Hero image styles */
.todo-hero-image {
    width: 60%; /* Set the width of the hero image in line with the parent container element. Keep note */
    min-height: 500px; /* Set the height of the hero image in line with parent container element Keep note - same as above */
    background-image: url('https://images.myguide-cdn.com/dublin/companies/dublin-viking-and-norman-castle-private-tour-in-a-luxury-car/large/dublin-viking-and-norman-castle-private-tour-in-a-luxury-car-4535672.jpg'); /* Placeholder */
    background-size: cover;
    background-position: bottom; /* The image was too high at center */
    border-radius: 8px;
    border: dashed 10px antiquewhite;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: 620px;
    background-color: antiquewhite;
}

.todo-1, .todo-2 {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.td-text-1, .td-image-1, .td-text-2, .td-image-2 {
    height: 350px;
    width: 50%;
}

.td-image-1 {
    background-image: url('https://gowildmagazine.com/wp-content/uploads/2020/04/Temple-Bar.jpeg');
    background-position: top;
    background-size: cover;
}

.td-image-2 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/1c/Dublin_Famine_Ship_Museum_Jeanie_Johnston_1.jpg');
    background-position: bottom;
    background-size: cover;
}

.td-text-1, .td-text-2 {
    background-color: #13366e;
}

.td-h3 {
    text-align: center;
    color: white;
    letter-spacing: 3px;
    font-size: 20px;

}

.td-1-p {
    color: white;
    letter-spacing: 1px;
    text-align: center;
    padding: 10px;
}

.todo-container {
    height: 200px;
    margin-bottom: 30px;
}

.td-item-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.todo-item {
    border-bottom: inset 1px #13366e;
    border-right: inset 2px #13366e;
    height: 45%;
    width: 90%;
    align-self: center;
    border-radius: 10px;
    margin-bottom: 25px;
}

.td-card-title {
    margin-left: 5%;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2px;
}

.td-card-desc {
    margin-left: 7.5%;
    padding: 10px;
    letter-spacing: 1px;
    text-align: left;
}

/* Food.html */

.btn-group {
    display: flex;
    justify-content: center;
}

.btn-group > button {
    font-size: 20px;
    margin: 30px 0px;
}

.output-container {
    border: solid red 1px;
    width: 100%;
    height: 1800px;
}

/* Hero image styles */
.food-hero-image {
    width: 60%; /* Set the width of the hero image in line with the parent container element. Keep note */
    min-height: 500px; /* Set the height of the hero image in line with parent container element Keep note - same as above */
    background-image: url('https://tripjive.com/wp-content/uploads/2024/03/Must-try-Irish-pub-food-dishes-in-Dublin-1024x585.jpg'); /* Placeholder */
    background-size: cover;
    background-position: bottom; /* The image was too high at center */
    border-radius: 8px;
    border: dashed 10px #13366e;
    margin: 30px 0px;
}

.food-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    min-height: 100%;
    background-color: #13366e;
}

.food-output-cont {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    min-height: 100%;
    background-color: antiquewhite;
}

.food-1, .food-2, .food-3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 25%;
    width: 50%;
    border: solid 1px green;
    border-radius: 10px;
}

.food-img-cap {
    border: red solid 1px;
    height: 50%; /* Height combined with .food-text should be 100% of parent container */
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-self: start;
}

.food-img-cap > img {
    width: 50%;
}

.food-text {
    width: 100%;
    height: 60%;
    border: solid green 1px;
}

.food-text > p {
    padding: 15px;
    letter-spacing: 1px;
    text-align: left;
}

.notable-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
    
}

.notable-1, .notable-2, .notable-3 {
    display: flex;
    flex-direction: row;
    height: 400px;
    justify-content: center;
    align-items: center;
    width: 70%;
    border: solid green 1px;
}

.people-hero {
    width: 60%; /* Set the width of the hero image in line with the parent container element. Keep note */
    min-height: 500px; /* Set the height of the hero image in line with parent container element Keep note - same as above */
    background-image: url('https://documentaryheaven.com/wp-content/thumbnails/16466-770x433.jpg'); /* Placeholder */
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    border: dashed 10px antiquewhite;
}

.person-text, .person-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50%;
    border: solid red 1px;
}


.person-image > img {
    width: 100%;
    height: 75%;
}

.person-image > h2 {
    text-align: center;
}

.person-text {
    text-align: left;
    letter-spacing: 2px;
    padding: 10px;
}

.contact-container {
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Change this line */
    width: 80%;
    margin: 30px auto; /* Center the container horizontally */
}

.contact-h2 {
    width: 40%;
    margin-left: 30%;
}

.form-container, .product-container {
    width: 45%; /* Adjust the width as needed */
    height: 100%;
}

.product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Vertical line */
.vl {
    border-left: 1px solid black;
    height: 80%; /* Adjust height as needed */
    width: 0;
    align-self: center;
}

  /* form attibutes */
.contact-form {
    width: 100%;
    margin-top: 15px;
    margin-left: 10px;
    
}
  
.form-group {
    margin-bottom: 15px;
}
  
.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
  
.form-input, .form-textarea {
    width: 75%;
    padding: 8px;
    border: 1px solid #ccc;
}
  
.form-textarea {
    resize: vertical;
}
  
.form-submit {
    background-color: #13366e;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 25%;
}
  
.form-submit:hover {
    background-color: #0266C8;
}

.product-text {
    width: 50%;
    margin-left: 25%;
}

.add-cart-btn {

    background-color: #13366e;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 60%;
}

.map-container {
    height: 500px;
    max-width: 100%;
    border-top: #13366e 2px solid;
    margin-top: 50px;
}

.map-h3 {
    letter-spacing: 1px;
    margin: 30px 0px;
    font-size: 24px;
}

.form-group-pmnt {
    margin-bottom: 20px;
}

.checkout-container {
    height: 450px;
    border: solid 1px red;
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Change this line */
    width: 80%;
    margin: 30px auto; /* Center the container horizontally */
}

.cart-container{
    height: 150px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid green 1px;
    margin: 40px 0px;
    border-radius: 10px;
}

.cart-card {
    border: solid blue 1px;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.cart-img {
    width: 30%;
    height: 100%;
    border: solid 1px purple;
}

.cart-desc {
    width: 50%;
    height: 100%;
    border: #ff0000 solid 1px;
    align-content: center;
    text-align: center;
}

.cart-price {
    width: 20%;
    height: 100%;
    align-content: center;
    text-align: center;
}
/*Once payment successful set to flex */
.payment-success-container{
    height: 250px;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
}

.download-btn {
    background-color: #13366e;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 150px;
    height: 30px;
}

/* people.html */

.people-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: 620px;
    background-color: antiquewhite;
}
